*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #152f38;
  font-family: "Roboto ", sans-serif;
}

.content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-clip-path: border-box;
  clip-path: border-box;
  transform: translateZ(0);
  z-index: 2;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  /* trans  form: translate(-50%, -50%); */
  /* object-fit: cover; */
}

.block {
  position: relative;
  height: 100vh;
}

.fourth {
  height: 180vh;
}
.fifth {
  height: 200vh;
}

[class*="item-parallax"] {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
  will-change: transform;
}

.item-parallax-media {
  z-index: 1;
}
.item-parallax-media img {
  will-change: transform;
}

.item-parallax-content {
  z-index: 2;
}

.block:nth-child(1) .item-parallax-content {
  transform: translateY(calc(var(--yBlock-1) * 0.5px));
}

.block:nth-child(1) .item-parallax-media img {
  transform: translateY(calc(var(--yBlock-1) * 0.1px));
}

.block:nth-child(2) .item-parallax-content {
  transform: translateY(calc(var(--yBlock-2) * 0.5px));
}

.block:nth-child(2) .item-parallax-media img {
  transform: translateY(calc(var(--yBlock-2) * 0.1px));
}

.block:nth-child(3) .item-parallax-content {
  transform: translateY(calc(var(--yBlock-3) * 0.5px));
}

.block:nth-child(3) .item-parallax-media img {
  transform: translateY(calc(var(--yBlock-3) * 0.1px));
}

.block:nth-child(4) .item-parallax-content {
  transform: translateY(calc(var(--yBlock-4) * 0.5px));
}

.block:nth-child(4) .item-parallax-media img {
  transform: translateY(calc(var(--yBlock-4) * 0.1px));
}

.block:nth-child(5) .item-parallax-content {
  transform: translateY(calc(var(--yBlock-5) * 0.5px));
}

.block:nth-child(5) .item-parallax-media img {
  transform: translateY(calc(var(--yBlock-5) * 0.1px));
}

.block:nth-child(6) .item-parallax-content {
  transform: translateY(calc(var(--yBlock-6) * 0.5px));
}

.block:nth-child(6) .item-parallax-media img {
  transform: translateY(calc(var(--yBlock-6) * 0.1px));
}

.block:nth-child(7) .item-parallax-content {
  transform: translateY(calc(var(--yBlock-7) * 0.5px));
}

.block:nth-child(7) .item-parallax-media img {
  transform: translateY(calc(var(--yBlock-7) * 0.1px));
}

.flex-container {
  display: flex;
}

.centered-content {
  margin: auto;
}

.head-large {
  margin-bottom: 2vw;
  font-size: 9rem;
  line-height: 1.2em;
  font-family: "Inknut Antiqua", serif;
  color: white;
}

.head-small {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height: 1.2em;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head-centered {
  text-align: center;
}

.copy {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.8em;
  text-align: center;
}

.copy-white {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.item-parallax-media {
  overflow: hidden;
}
.item-parallax-media img {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-landing:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 24%;
  width: 10px;
  height: 80%;
  background-color: white;
  z-index: 3;
  transform: translateY(-13vw);
}

.section-landing .item-parallax-media {
  opacity: calc(1 - (var(--y) * 0.0009));
}

.landing-content {
  padding-left: 30%;
}

.section-intro:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 80%;
  background-color: #0d232a;
  transform: translateX(-50%) translateY(-50%) rotate(calc((var(--y) * 0.1deg)));
  will-change: transform;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.img-grid {
  flex-direction: column;
  justify-content: space-around;
}

.img-gridItem {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 5vh 0;
  margin-right: auto;
  margin-left: auto;
}
.img-gridItem img {
  display: block;
  width: 50%;
  height: 40vh;
  -o-object-fit: cover;
  object-fit: cover;
  will-change: transform;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.img-gridItem.type-left img {
  margin-right: auto;
}
.img-gridItem.type-right img {
  margin-left: auto;
}

.img-gridItem:nth-child(odd) img {
  transform: translateX(calc(var(--yBlock-4) * -0.03%));
}
.img-gridItem:nth-child(even) img {
  transform: translateX(calc(var(--yBlock-4) * 0.03%));
}
.img-gridItem:nth-child(odd) .img-caption h2 {
  text-align: right;
}
.img-gridItem:nth-child(even) .img-caption h2 {
  text-align: left;
}

.img-gridItem .img-caption p {
  text-align: justify;
}

.img-caption {
  position: absolute;
  top: 50%;
  width: 50%;
  transform: translateY(-50%);
}
.img-caption * {
  text-align: left;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.type-left .img-caption {
  right: 0;
}
.type-right .img-caption {
  left: 0;
}

.section-end:before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 24%;
  width: 10px;
  height: 80%;
  background-color: white;
  z-index: 3;
  transform: translateY(8vw);
}

.custom-properties-ftw {
  padding: 2.5rem 1.5rem;
  height: 50vh;
}
.custom-properties-ftw .head-small {
  margin-bottom: 0;
}

.blog-button {
  border: none;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 1.2rem 4rem;
  border-radius: 50px;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.blog-button:hover {
  box-shadow: 0px 2px 0px white, 0px -2px 0px white, inset 0px 2px 0px white,
    inset 0px -2px 0px white;
  cursor: pointer;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em 2em;
}

.custom-properties-ftw .links {
  width: 30vw;
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskbar-flex {
  /* align-items: flex-start; */
  justify-content: space-between;
  margin: 2em 0;
}
/* 
ul {
  list-style-type: none;
} */

.custom-properties-ftw .container .links .column a {
  font-family: "Roboto ", sans-serif;
  text-decoration: none;
  color: rgb(207, 206, 206);
  line-height: 1.25;
  font-weight: 200;
}

.custom-properties-ftw .container .links .column li {
  padding: 0.25em 0;
}

.custom-properties-ftw .container .links .column h1 {
  font-family: "Roboto ", sans-serif;
  color: white;
  line-height: 1.25;
  margin-bottom: 0.5em;
  text-decoration: underline;
}

.custom-properties-ftw .logo {
  font-size: 1.2em;
  font-family: "Roboto ", sans-serif;
  color: #fff;
}

.custom-properties-ftw .logo img {
  height: 100px;
  width: 80px;
}

.break-line {
  /* content: "A" !important; */
  /* display: block !important; */
  margin-bottom: 1em !important;
  /* background-color: #0d232a !important; */
}

.road-head {
  height: 10vh;
}

.road-container {
  height: auto;
  padding: 20vh 0;
}

/* --------[RoadMap]------- */
.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;
}
.timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  border: 5px solid #0d232a;
  right: 40px;
  top: 0;
  border-radius: 50px;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 700px) {
  .timeline {
    padding: 2rem;
  }
  .timeline:before {
    left: calc(50% - 1px);
    right: auto;
  }
}

.timeline__item {
  padding: 1rem;
  border: 4px solid #3b575f;
  border-image-slice: 1;
  position: relative;
  margin: 1rem 1rem 1rem 1rem;
  clear: both;
}
.timeline__item:after,
.timeline__item:before {
  content: "";
  position: absolute;
}
.timeline__item:before {
  right: -10px;
  top: calc(50% - 5px);
  border-style: solid;
  border-color: hotpink hotpink transparent transparent;
  border-width: 10px;
  transform: rotate(45deg);
}

@media screen and (min-width: 700px) {
  .timeline__item {
    width: 44%;
    margin: 1rem;
  }
  .timeline__item:nth-of-type(2n) {
    float: right;
    margin: 1rem;
    border-image-slice: 1;
  }
  .timeline__item:nth-of-type(2n):before {
    right: auto;
    left: -10px;
    border-color: transparent transparent hotpink hotpink;
  }
}

.timeline__item--year {
  text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  font-size: 1.8rem;
  background-color: #333;
  line-height: 1;
  border-image: none;
  padding: 0.5rem 1rem 1rem;
  border-radius: 10px;
}
.timeline__item--year:before {
  display: none;
}
@media screen and (min-width: 700px) {
  .timeline__item--year {
    text-align: center;
    margin: 0 auto;
  }
  .timeline__item--year:nth-of-type(2n) {
    float: none;
    margin: 0 auto;
    border-image: none;
  }
  .timeline__item--year:nth-of-type(2n):before {
    display: none;
  }
}

.timeline__title {
  margin: 0;
  font-size: 1.25em;
  color: #fff;
  font-weight: 200;
}
