.cards-container {
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 2em 0;
  background: #fff;
  /* box-shadow: 0 3px 70px -1px rgba(0, 0, 0, 0.1); */
  line-height: 1.4;
  /* font-family: sans-serif; */
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.fifth .blog-card {
  background-color: black;
  color: white;
}

.blog-card a {
  color: inherit;
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card .description {
  padding: 1rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: var(--nav-color-4);
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: 33vh;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card:nth-child(even) {
    flex-direction: row-reverse;
  }
  .blog-card:nth-child(even) .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
}
